* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  background-color: #262626;
  color: #D9D9D9;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.header {
  text-align:center;
  font-size: 1.25rem;
  font-weight: 500;
  color: #F9F4DA;
}
.header-div {
  margin-bottom:1.5rem;
}
.header-subtext  {
  text-align: center;
  font-size: 0.875rem;
  color: #8E8E8E;
}

.gamestatus-div {
  margin-bottom:1.5rem;
}

.gamestatus-banner-win {
  text-align: center;
  background-color: #10A95B;
  width: 100%;
  padding: .3rem;
  color: #F9F4DA;
}

.gamestatus-banner-lose {
  text-align: center;
  background-color: #BA2A2A;
  width: 100%;
  padding: .3rem;
  color: #F9F4DA;
  
}

.gamestatus-banner-empty {
  width:100%;
  height:58px;

}


.language-chips {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  
  margin-bottom: 1.5rem;
}

.chip {
  border-radius: 3px;
  padding: 4.5px;
   height: 40px;
   justify-content: center;
   align-items: center;
   display: flex;
}

.current-word {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.current-word > span {
  height: 50px;
  width: 50px;
  background-color: #323232;
  display:flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #F9F4DA;
  border-bottom: 1px solid #F9F4DA;
}

.keyboard {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  gap: 10px;
  margin-bottom: 1.5rem;
}

.keyboard > button {
  height: 35px;
  width: 35px;
  background-color: #FCBA29;
  border: 1px solid #D7D7D7;
  border-radius: 3px;
  cursor: pointer;
}

.new-game-button > button {
  background-color: #11B5E5;
  border: 1px solid #D7D7D7;
  border-radius: 4px;
  width: 225px;
  height: 40px;
  padding: 6px 12px;
  display: flex;
  margin-inline: auto;
  cursor: pointer;
  align-items: center;
  justify-content: center;

}